<div id="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%=blogConfig.titleShort%></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <% menuPosts.forEach(function(post) { %>
        <li><a href="/post/<%=post.$loki%>/<%=textHelpers.seoifyURL(post.postTitle)%>"><%=post.postTitle%></a></li>
        <% }); %>
        <% if (user && user.auth) {%>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
        </ul>
      <div class="navbar-brand navbar-right" href="#">Welcome <%if (user) { %><%=user.userName%><% } %></a>
    </div>
  </nav>
</div>
