<% layout('layouts/main') -%>
<form class="form-horizontal" action="/manage/edit/" method="post">
  <div class="form-group">
    <label class="col-md-2 control-label" for="textinput">Title</label>
    <div class="col-md-9">
    <input id="textinput" name="title" type="text" value="<%=post.postTitle%>" placeholder="title" class="form-control input-md" required="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="textinput">Post Date</label>
    <div class="col-md-9">
    <input id="textinput" name="date" type="text" value="<%=moment(post.postDate).format("M/d/YYYY h:mm:ss A")%>" placeholder="post date" class="form-control input-md" required="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="textinput">Post Tags</label>
    <div class="col-md-9">
    <input id="textinput" name="tags" type="text" value="<%=post.postTags%>" placeholder="post tags" class="form-control input-md" required="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="textarea">Post</label>
    <div class="col-md-9">
      <textarea class="form-control" name="posttext" id="textarea" rows="20" placeholder="Spill your drivel here." ><%=post.postText%></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-9">
      <label class="checkbox-inline" for="menuitem">
        <input type="checkbox" name="menuitem" id="menuitem" <% if (post.menuItem) { %> checked <% }%>>
        Use this post as a menu item
      </label>
    </div>
  </div>
  <input type="hidden" name="id" value="<%=(post.$loki == null ? post.id : post.$loki)%>">
  <div class="row">
    <div class="col-md-11">
      <input type="submit" class="btn btn-default  pull-right">
    </div>
  </div>
</form>
<br/><br/>
